header{
    background-color: #8CBDFF;
}
footer{
    background-color: #8CBDFF;
}
h1{
    font-family:aharoni;
}
h4{
    font-size:150%;
}
a {
    text-decoration: none;
    cursor:pointer; cursor: hand
}  

